{% extends "education_courses/base.html" %}

{% block page_header %}
    <h2>Мои курсы</h2>
{% endblock page_header %}

{% block content %}
    <ul>
        {% for course in courses %}
            <li><a href="{% url 'education_courses:course' course.id %}" >{{course}}</a></li>
        {% empty %}
            <li><h3>Пока что курсов не добавлены.</h3></li>
        {% endfor %}
    </ul>
    <a class="btn btn-primary" href="{% url 'education_courses:new_course' %}" role="button">Добавить новый курс</a>
{% endblock content %}