{% extends "education_courses/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
    <h2><a href="{% url 'education_courses:course' course.id %}">{{ course }}</a></h2>
{% endblock page_header %}

{% block content %}
    <p>Редактировать раздел:</p>
    <form action="{% url 'education_courses:edit_section' section.id %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button name="submit" class="btn btn-primary">Сохранить изменения</button>
        {% endbuttons %}
    </form>
{% endblock content %}