{% extends "education_courses/base.html" %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-3">Образовательные курсы</h1>

        <p>
            Добро пожаловать на нашу платформу! Здесь вы найдете курсы по различным направлениям,
            которые помогут вам развиваться и достигать своих целей. Выберите интересующую вас
            категорию и начните обучение уже сегодня!
        </p>

        <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}">Зарегистрироваться &raquo;</a>
    </div>
{% endblock content %}